{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskGenius-(Log-in)</title>
    <link rel="stylesheet" href="{% static 'assets/css/log-in_style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<style>
    body {
        background: url('{% static "assets/img/bookforest.jpg" %}') no-repeat fixed;
    }
    
    .message {
	border-radius: 10px;
	box-shadow: 3px 3px 4px 0px rgba(50, 50, 50, 0.75);
	color: white;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	width: 80%;
}

/*
 * Give the various message types the correct colors
 */
.message.success {
	background-color: green;
}

.message.error {
	background-color: red;
}
</style>
<body>
<div class="wrapper">
    <form method="POST">
        {% csrf_token %}
        {% if messages %}
<div class="messages">
	{% for message in messages %}
        {% if 'error' in message.tags %}
            <p class="message error">{{ message }}</p>
        {% endif %}
	{% endfor %}
</div>
{% endif %}
    <h1>TaskGenius</h1>
    <br>
    <h2>Log-In</h2>
            <br>
            <div class="input_box">
                <label for="un"><b>Username:</b></label>
                <input id="un" type="text" required name="username" autofocus>
                <i class='bx bxs-user'></i>
            </div>
            
            <div class="input_box">
                <label for="pass"><b>Password:</b></label>
                <input id="pass" type="password" required name="password" minlength="8">
                <i class='bx bxs-lock-alt' ></i>
            </div>

            <br>

            <!-- <div class="checkbox">
                <input type="checkbox" id="admin" class="checkadmin" name="isAdmin">  
                <label for="admin" class="checkadmin-label"> Log-in as an admin</label>
                <i class='bx bxs-edit-alt' ></i>
            </div> -->
            <!-- <input type="reset"> -->
            <input type="submit" onclick="saveInput()" class="btn">

            <div class="register">
            <p>If you don't have an account, <a href="{% url 'register' %}">register</a>.</p>
            <p id="InvalidUserName" style="color:red;"></p>

            </div>

    </form>
</div>

    <script>
    $('.message').hide().fadeIn(500).delay(2000).fadeOut(500);  
    </script>
    <script data-username="{{username}}">   
    function validateUsername() {
    var username = document.currentScript.dataset.username;
    
    var format = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
    if (format.test(username)) {
        document.getElementById("InvalidUserName").textContent = "Username should not contain special characters.";
        return false;
    }

    if (/\s/.test(username)) {
        document.getElementById("InvalidUserName").textContent = "Username should not contain whitespace.";
        return false;
    }

    if (username.length < 3 || username.length > 15) {
        document.getElementById("InvalidUserName").textContent = "Username should be between 3 and 15 characters.";
        return false;
    }
    return true;
}

function validateForm() {
    const pass = document.getElementById("pass").value;
    const cpass = document.getElementById("cpass").value;

    if (pass !== cpass) {
        document.getElementById("PassNotMatching").textContent = "The password and confirmation password do not match.";
        return false; 
    }
    else if (!validateUsername()) {
        return false;
    }
    else {
        return true;
    }
}


function saveInput() {
    var userInput = document.getElementById("un").value;
    sessionStorage.setItem("un", userInput);
}

function redirectToPage() {
    const isAdmin = document.getElementById("admin").checked;
    if (isAdmin) {
        window.location.href = "{% url 'home' %}";
    } else {
        window.location.href = "{% url 'TeacherHome' %}";

    }
}

    </script>
</body>
</html>
